body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a#basic-nav-dropdown {
  color: white;
}

.grow {
  transition: all 0.2s ease-in;
}

.grow:hover {
  transform: translateY(-5px);
}

.dropdown-toggle::after {
  transition: all 0.2s ease-in;
}

.dropdown.show .dropdown-toggle::after {
  transform: rotate(180deg);
}

.zoom-enter {
  opacity: 0;
  cursor: default;
  animation: zoom-enter 0.5s ease-in forwards;
}

@keyframes zoom-enter {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  opacity: 0;
  overflow: hidden;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
